body{
    text-align: center;
    
 
}
.clock{
    width: 500px;
    height: 500px;
    display: inline-block;
    border-radius: 50%;
    border: 10px solid rgb(92, 89, 89);
    padding: 20px;
    background-color: rgb(14, 13, 13);
    background: url("pic3.jpg");



}
.sec, .min, .hour{
    line-height: 45px;
    position: relative;
    transform-origin: bottom;
}
.sec{
    height: 250px;
    width: 5px;
    left: 245px;
    background-color: #ff0000;
    z-index:3;
    animation: sec_anim 60s linear infinite;
}
.min{
    height: 250px;
    width: 10px;
    left: 242.5px;
    top: -250px;
    background: #000;
    z-index: 2;
    animation: min_anim 600s linear infinite;
}
.hour{
    height: 180px;
    width: 14px;
    left: 240px;
    top: -430px;
    background-color: #000;
    z-index: 1;
    animation: hour_anim 6000s linear infinite;
}
@keyframes sec_anim {
    from{transform: rotateZ(0deg);}
    to{transform: rotateZ(360deg);}
}
@keyframes min_anim {
    from{transform: rotateZ(0deg);}
    to{transform: rotateZ(360deg);}
}
@keyframes hour_anim {
    from{transform: rotateZ(0deg);}
    to{transform: rotateZ(360deg);}
}
.one, .two, .three, .four, .five, .six, .seven, .eight, .nine, .ten, .eleven, .twelve{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3.7em;
    position: relative;
    color: black;
    text-shadow: 0 0 10px white ;
   
}
.one{
    top: -648px;
    left: 123px;
    
    
    
    
}
.two{
    top: -629px;
    left: 192px;
    color: #ff0000;
   
}
.three{
    top: -603px;
    left: 228px;
   
}
.four{
    top: -564px;
    left: 203px;
    color: #ff0000;
   
    
}
.five{
    top: -525px;
    left:  116px;
    color: #ff0000;
    
}
.six{
    top: -580px;
    
    
}
.seven{
    top: -691px;
    left: -116px;
    color: #ff0000;
}
.eight{
    top: -840px;
    left: -203px;
    color: #ff0000;
   
}
.nine{
    top: -1016px;
    left: -236px;
    
}
.ten{
    top: -1181px;
    left: -192px;
    color: #ff0000;
}
.eleven{
    top: -1338px;
    left: -123px;
    color: red;
    
}
.twelve{
    top: -1450px;
    
   
}



